.circle {
    stroke-width: 1px;
}

// .openTargets_d-d_overview_link {
//     opacity: 0.3;
// }

.selected {
    opacity: 1;
}

.unselected {
    opacity: 0.3;
}

.openTargets_d-d_overview_label > text {
    alignment-baseline: middle;
}

.ring {
    cursor: zoom-in;
}

.openTargets_d-d_overview_label, .openTargets_d-d_overview_node {
    cursor: pointer;
}
